@charset "UTF-8";

/*GLOBAL*/
:root {
    /*Colors*/
    --black: #000;
    --white: #FFF;
    --darkCyann: hsl(185, 75%, 39%);
    --desatBlue: hsl(229, 23%, 23%);
    --grayishBlue: hsl(227, 10%, 46%);
    --darkGray: hsl(0, 0%, 59%);
    --top-bg: url('../images/bg-pattern-top.svg');
    --bot-bg: url('../images/bg-pattern-bottom.svg');
    --card: url('../images/bg-pattern-card.svg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--top-bg) no-repeat, var(--bot-bg) no-repeat;
    background-position: -40rem -40rem, 5rem 25rem;
    background-color: var(--darkCyann);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.container {
    margin: 55% 20%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 60%;
    grid-template-areas: "t" "b";

    text-align: center;
    
    max-width: 20rem;
    max-height: 20rem;
    width: 16rem;
    height: 18rem;
}

.row_one {
    grid-area: t;
    background: var(--card);
    border-radius: 10px 10px 0 0;
}

.row_two {
    grid-area: b;
    border-radius: 0 0 10px 10px;
    background: var(--white);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "lt md rt";
}

.row_out {
    position: absolute;
    top: 16rem;
    left: 9.2rem;
}

.row_out img {
    border-radius: 100%;
}

.item {
    margin-bottom: 22px;
    align-self: flex-end;
}

.item.left {
    grid-area: lt;
}

.item.midle {
    grid-area: md;
}

.item.right {
    grid-area: rt;
}

.bolder {
    font-weight: 700;
}

.lighter {
    opacity: .5;
    font-weight: 100;
}

.thinner {
    font-size: .85em;
}

.xthinner {
    font-size: .6em;
}

@media (min-width: 750px) {
    body {
        background-position: -20rem -40rem, 40rem 18rem;
    }

    .container {
        width: 20rem;
        height: 20rem;

        margin: 12% 36%;
    }

    .row_out {
        margin: -45px 433px;
    }
}